*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: blueviolet;
}
img{
    width: 290px;
    height: 230px;
}
.container{
    position: relative;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.container .card{
    position: relative;
    max-width: 300px;
    height: 470px;
    background: white;
    margin: 30px 10px;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 5px 202px rgba(0,0, 0, 0.5); 
    transition: 0.5s ease-in-out;
}
.container .card:hover{
    height: 420px;
}
.container .card .img-box{
    position: relative;
    width: 260px;
    height: 250px;
    top: -60px;
    left: 20px;
    box-shadow: 0px 5px 20px rgba(0,0, 0, 0.2);
    z-index: 1;
}
.container .card .img-box img{
    max-width: 100%;
    border-radius: 10px;
}
.container .card .content{
    position: relative;
    margin: -140px;
    visibility: hidden;
    padding: 10px 14px;
    text-align: center;
    opacity: 0;
    color: #111;
    transition: 0.3s ease-in-out;
}
.container .card:hover .content{
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;


}